# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

app/**
server/**
venv/**
build/config.py
build/server_templates/**
!app/README
!server/README
!venv/README

!server/start.py
